{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container marketing">
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Ментальное здоровье</h1>
				<p class="lead text-body-secondary">Надо заботиться о своём внутреннем мире</p>
			</div>
		</div>
	</section>
	<div class="shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row featurette">
			<div class="col-md-4">
				<img src="{% static 'other/img/йога.jpg' %}" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-md-8">
				<blockquote class="blockquote">
					<p>Согласно представлениям психологов, ментальное (психологическое) здоровье — это совокупность представлений о мире, 
						а также мыслей, образов и мечтаний, которые возникли на основании жизненного опыта, воспитания, моральных ценностей, 
						внутренних установок и стереотипов, принятых в обществе.</p>
					<p>Человеку с устойчивой психикой доступно не просто существование, но высокое качество жизни. Если же ментальное 
						здоровье страдает, это почти всегда отражается не лучшим образом на разных сферах жизни: и на личных отношениях, 
						и на работе. У психически здоровых людей есть ресурс на то, чтобы справиться с трудностями, совладать со стрессом. 
						Они способны принять решение, взять на себя ответственность и оставаться сконцентрированными на задаче.</p>
					<p>Тело и психика связаны напрямую. Если ментальное здоровье повреждено, это может непосредственно отразиться на 
						состоянии нашей физики и спровоцировать психосоматические заболевания. Кроме того, если мы психологически не в 
						порядке, страдает иммунитет, да и общее самочувствие оставляет желать лучшего.</p>
				</blockquote>
			</div>
		</div>
		<div class="row featurette">
			<blockquote class="blockquote">
				<p>Когда дело касается проблем с психологическим здоровьем, лучшим решением будет своевременное обращение к психологу, 
					психотерапевту или психиатру. Ведь чем раньше вы начнёте заниматься решением этой проблемы, тем раньше сможете выйти из 
					неё. Что же касается профилактики и способов сохранения ментального здоровья, есть несколько важных рекомендаций:</p>
				<p>* Отдыхайте качественно. Многие психологические проблемы так или иначе связаны с выгоранием и недостатком полноценного 
					восстановления. Оказавшись в эмоционально напряжённой ситуации, организм затрачивает намного больше внутренних ресурсов.</p>
				<p>* Наладьте режим. Это касается многих аспектов: сон, питание, спорт. Старайтесь в принципе придерживаться определённого 
					плана в течение дня, это снизит тревогу, связанную с неопределённостью, а также благотворно повлияет на ваше физическое 
					самочувствие.</p>
				<p>* Не запускайте здоровье. Хронические заболевания – серьёзная нагрузка на нервную систему. Проявление хронических 
					заболеваний зачастую сильно изматывает нервную систему. Вовремя проходите медицинские осмотры и выполняйте рекомендации 
					врача.</p>
				<p>* Учитесь мыслить позитивно и во всём видеть хорошее. Это не значит, что нужно игнорировать плохие вещи, да, они время 
					от времени случаются, их тоже нужно уметь проживать в полной мере. Попробуйте сесть вечером и вспомнить три приятные вещи,
					 которые с вами произошли за день, возможно, что-то незначительное на первый взгляд.</p>
			</blockquote>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h2 class="featurette-heading">Интересные практики:</h2>
			<nav class="nav flex-column">
				<h4 aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="color: #328dba;">Дыхание по квадрату</h4>
                <h4 aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="color: #328dba;">«5–4–3–2–1»</h4>
                <h4 aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="color: #328dba;">Синий цвет</h4>
			</nav>
		</div>
	</div>
	<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Дыхание по квадрату</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<p>Техника "квадратного дыхания" – это один из наиболее эффективных способов справиться со стрессом и тревогой. Это простая и доступная 
						методика, которая позволяет успокоиться и сосредоточиться в любой ситуации.</p>
					<p>В чём суть техники?</p>
					<p>* Во-первых, необходимо сесть в удобное положение и расслабить мышцы тела. Затем нужно вдохнуть через нос на счет до четырех, задержать 
						дыхание на тот же счет четыре секунды, выдохнуть через рот на счет до четырех, и задержать дыхание на четыре секунды перед следующим вдохом.</p>
					<p>* Когда мы сосредотачиваемся на своем дыхании, мы отвлекаемся от беспокойств и проблем. Это позволяет нашему организму восстановить 
						гармонию и баланс. Техника "квадратного дыхания" дает возможность уменьшить уровень стресса и улучшить общее самочувствие.</p>
					<p>* Для того, чтобы Вы могли понять, как она работает и побыстрее научиться, посмотрите видео, их преогромное множество в Интернете.</p>
					<img src="{% static 'other/img/dihanie.png' %}" height="500" и width="700" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Техника 5-4-3-2-1</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<p>Другая техника также позволяет «заземлиться» и не позволить негативным эмоциям взять верх над собой. Она называется «5–4–3–2–1».
							Вам нужно назвать пять вещей, которые вы видите; четыре вещи, которые вы можете потрогать; три явления, которые можете услышать; 
							две вещи, которые можете понюхать, и одну вещь, которую можете попробовать. Такая техника позволяет «вылезти из своей головы» и 
							сосредоточиться на том, что вас окружает.</p>
					<img src="{% static 'other/img/54321.jpg' %}" height="500" и width="700" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Польза синего цвета</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<p>Синий свет помогает людям быстрее расслабиться после психосоциального стресса. Это обнаружили учёные из Гранадского университета.</p>
					<p>Психосоциальный стресс, согласно формулировке самих исследователей, — это кратковременное нервное потрясение, которое возникает 
						во время контактов с другими людьми.</p>
					<p>Любознательные учёные устраивали подобные переживания 12 добровольцам в возрасте от 18 до 37 лет, а затем отводили подопытных 
						в так называемую комнату хромотерапии. В ней не было ничего, что могло бы помочь успокоиться, — только светодиоды, излучающие то 
						стандартный белый, то синий свет.</p>
					<p>Выяснилось, что под синим светом мозговая и сердечная активность людей возвращались в норму в среднем за 1,1 минуты, а под белым 
						— за 3,5. То есть в три раза быстрее!</p>
					<p>Кстати, помимо ламп, синий свет излучают экраны современных гаджетов — компьютеров, ноутбуков, смартфонов. Стресс — тот самый 
						случай, когда даже учёные рекомендуют: минут 10 повтыкайте в любимый девайс. Это поможет расслабиться.</p>
					<img src="{% static 'other/img/bluecats.jpg' %}" height="500" и width="700" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}