{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container marketing">
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Ментальное здоровье</h1>
				<p class="lead text-body-secondary">Надо заботиться о своём внутреннем мире</p>
			</div>
		</div>
	</section>
	<div class="shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row featurette">
			<div class="col-md-4">
				<img src="{% static 'other/img/мендальное здоровье.jpg' %}" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-md-8">
				<blockquote class="blockquote">
					<p>Советы, которые помогут поднять самооценку. Научитесь ставить достижимые и реальные цели Откажитесь от критики. 
						Перестаньте себя сравнивать с другими. Научитесь принимать похвалу Не оправдывайтесь. Научитесь просить о помощи. 
						Чаще общайтесь с близкими и людьми, которые вас любят. Доводите свои дела до конца. Научитесь любить свое тело. 
						Занимайтесь физическими упражнениями и ведите здоровый образ жизни. Следите за своим внешним видом.</p>
				</blockquote>
			</div>
		</div>
		<div class="row featurette">
			<blockquote class="blockquote">
				<p>Ментальное здоровье может нарушиться по разным причинам: длительный стресс, проблемы в семье, личное горе, даже черепно-мозговая травма 
					может привести к такого рода проблемам. Проявляются они по-разному — от простого снижения самооценки и длительного периода плохого настроения 
					до неврозов и даже психических заболеваний. Важно понимать, что не все неприятные чувства и эмоции — это симптом болезни. Страх, гнев, 
					грусть время от времени испытывает любой человек. Однако, если эти состояния мешают жить, это может быть симптомом психологической проблемы. 
					Например, если вы больше двух недель замечаете подавленное настроение, которое вроде ничем не вызвано. Или когда в метро накатывает такой 
					страх, что вы предпочитаете ехать до места назначения на час дольше, но только по земле. Когда вы не можете спать несколько ночей подряд.</p>
			</blockquote>
		</div>
	</div>
</div>

{% endblock %}
