{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container marketing">
	<div class="shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Питание</h2>
				<p class="lead">Правильное здоровое питание. И это не строгие диеты с большим количеством ограничений, а наоборот — разнообразный, 
					сбалансированный рацион. На данный момент одной из самых подходящих для поддержания здоровья является средиземноморский тип питания. 
					Важно снизить количество потребляемого сахара и соли в целях профилактики сердечно-сосудистых заболеваний, сахарного диабета и других 
					заболеваний организма. Правильное питание значительно увеличивает энергию и улучшает настроение.</p>
				<a class="btn btn-outline-success btn-lg m-1" href="{% url 'recipe:list' %}">Рецепты</a>
			</div>
			<div class="col-md-5">
				<img src="{% static 'other/img/еда.jpg' %}" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
		</div>
	</div>

	<div class="shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row featurette">
			<div class="col-md-5">
				<img src="{% static 'other/img/активности.jpg' %}" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">Спорт</h2>
				<p class="lead">Физическая активность. Ни для кого не секрет, что малоподвижный образ жизни способствует не только быстрому набору веса, 
					но и возникновению различный болезней. Важно найти те виды активности, которые будут комфортны и приносить удовольствие. Нормальным считает 
					проводить в движении не менее 1 часа в день (примерно 8000-10000 шагов). Ученые доказали, что каждая минута активности влияет на состояние 
					организма в долгосрочной перспективе — это значит, что даже подъем по ступенькам, а не на лифте, уже приближает к здоровью. Кроме этого, по 
					возможности можно включить умеренные утренние или вечерние физические упражнения в домашних условиях, записаться в спортивный зал или бегать 
					на свежем воздухе.</p>
					<a class="btn btn-outline-success btn-lg m-1" href="{% url 'sport:index' %}">Подробнее</a>
			</div>
		</div>
	</div>

	<div class="shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Ментальное здоровье</h2>
				<p class="lead">Психоэмоциональное состояние — важная составляющая здоровья человека. Наш век считается временем высокого нервного напряжения 
					и стрессов, что негативно сказывается на настроении и самочувствии человека. Для того, чтобы эффективно справляется с этим, можно найти те 
					занятия, которые принесут удовольствие и восполнят внутренние ресурсы. Это могут быть различные творческие хобби, посещение мероприятий, 
					или просто тихий вечер за чашечкой чая и увлекательной книгой. Справиться с тревожностью помогают дыхательные релаксационные техники, 
					визуализации, медитации. Гибкий взгляд на происходящее, умение качественно проанализировать ситуации, возникающие мысли и эмоции, а также 
					позитивный настрой способствует более продуктивному совладанию со стрессами.</p>
					<a class="btn btn-outline-success btn-lg m-1" href="{% url 'mentalka:index' %}">Подробнее</a>
			</div>
			<div class="col-md-5">
				<img src="{% static 'other/img/мендальное здоровье.jpg' %}" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
		</div>
	</div>

	<div class="shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row featurette">
			<div class="col-md-5">
				<img src="{% static 'other/img/events.jpg' %}" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">Мероприятия</h2>
				<p class="lead">Самые здоровые мероприятия Липецка, области и России вцелом!</p>
					<a class="btn btn-outline-success btn-lg m-1" href="{% url 'event:list' %}">Подробнее</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
