{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container marketing">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
         <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Спорт</h1>
          <p class="lead text-body-secondary">Спорт - это здоровье, сила, выносливость!</p>
         </div>
        </div>
    </section>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="row featurette">
            <div class="col-md-4">
                <img src="{% static 'other/img/sport.jpg' %}"" height="500" и width="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-md-8">
                <blockquote class="blockquote">
									<p>Спортивные занятия очень полезны для человеческого организма, еще бы, ведь движение – это жизнь! А спорт – это не что иное, как движение, 
										целенаправленное, положительное и очень нужное. В процессе выполнения различных физических упражнений от мускулатуры к мозгу отправляются 
										миллионы нервных импульсов, они приводят всю нервную систему в повышенное деятельное состояние, это вызывает активизацию работы внутренних 
										органов, увеличивает работоспособность человека, дарит прилив сил и бодрости. Спорт – это неотъемлемая часть здорового образа жизни, 
										им занимаются ради собственного удовольствия и ради пользы для здоровья.
									</p>
                </blockquote>
            </div>
        </div>
        <div class="row featurette">
            <blockquote class="blockquote">
							<p>Спорт это:</p>
							<p>- хорошее физическое здоровье.
							Спорт требует непрерывной напряженной работы, что приводит в тонус организм и мышцы нашего тела. Это хороший способ укрепить 
							сердечно-сосудистую систему во время работы на выносливость и силу. К тому же час любой тренировки позволяет сжечь от 300 до 600 калорий, 
							в зависимости от интенсивности.</p>
							<p>- Отличная координация.
								Правильная и хорошая координация между руками и глазами позволяет вам лучше сосредотачиваться на определенных вещах. Это будет полезно
								не только в спорте, но и повседневной деятельности.</p>
							<p>- Физическая форма.
								Многие люди жалуются, что у них нет достаточно времени для тренировок, из-за чего они прибавляют лишние килограммы. Однако занятия 
								спортом позволяет держать вас в хорошей форме без лишних усилий. Утренняя пробежка, игра с детьми в спортивные игры, теннис, бадминтон или 
								другой вид спорта заряжает вас энергией, к тому же это весело и интересно.</p>
							<p>- Дисциплина.
								Большинство спортивных игр подчеркивают важность строгого графика занятий и тренировок. Таким образом это формирует дисциплинированность.</p>
							<p>- Снятие стресса.
								Спорт - это хороший способ избавиться от стресса и депрессии. Концентрация на игре легко отвлекает от проблем повседневной жизни.</p>
							<p> - Укрепление семейных отношений. Социализация.
								Во время занятий спортом у вас есть множество возможностей общаться с близкими и друзьями, познакомиться с новыми людьми 
								и завязать интересные знакомства.</p>
							<p>- Польза для сна.
								Все виды спорта включают в себя большое количество физической активности из-за чего вы будете чувствовать себя выжатым как лимон. 
								И чтобы восстановиться организм будет требовать крепкого и долгого сна.</p>
							<p> - Удовольствие от занятий.
								При занятии спортом можно получить не только необходимую физическую нагрузку, но и удовольствие. 
								Занимайтесь физкультурой и не забывайте, что нужно правильно питаться и пить много воды!</p>
            </blockquote>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h2 class="featurette-heading">Интересные виды спорта:</h2>
            <nav class="nav flex-column">
                <h4 aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="color: #328dba;">Бег</h4>
                <h4 aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="color: #328dba;">Скандинавская ходьба</h4>
                <h4 aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="color: #328dba;">Пилатес</h4>
            </nav>
        </div>
    </div>
    </div>
    
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Гайд по бегу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Бег - одно из самых природных занятий для человека, как в целой истории, так и для каждого человека. Он уникален своей биомеханикой, поскольку 
                    включается в работу большое количество мышц, связок и суставов. Как правильно начать:</p>
                <p></p>
                <p>* Наращивать уровень нагрузок постепенно и регулярно. Организму необходимо адаптироваться к новым условиям. В идеале, если контролировать 
                    процесс будет тренер, который подскажет и по нагрузкам, и по технике. Но прислушиваться к ощущениям во время бега, как тело реагирует на 
                    тренировки — очень важно!
                </p>
                <p>* Регулярные тренировки приведут к максимальной пользе – даже два раза в неделю по 30 мин, но регулярно принесёт пользу. Если процесс понравится,
                     то можно увеличивать количество, продолжительность, подключать силовые тренировки для мышц, растяжки для связок и суставов.
                </p>
                <p>* Начать можно с 15 минут бега в комфортном темпе. Если тяжело, то можно переходить на ходьбу. Не стоит думать, что это ничего не дает.
                     Даже регулярные 10 минут тренировок имеют эффект. Наиболее эффективная продолжительность достигается во время тренировки от 30 до 40 минут.
                </p>
                <p>Чтобы начать бегать нужно только желание и хорошие кроссовки!
                </p>
                <img src="{% static 'other/img/beg.jpg' %}" height="500" и width="700" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
    </div>
    
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Гайд по скандинавской ходьбе</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Скандинавская ходьба — это ходьба со специальными, напоминающими лыжные, палками, в процессе которой задействуются практически все мышцы 
                    тела; это вид обычной ходьбы — то, чему научились мы еще в детстве, но в два раза эффективнее! Ходьбу с палками может практиковать каждый: 
                    и любитель — для поддержания физической формы и укрепления здоровья, и профессиональный спортсмен — для внесения разнообразия в ежедневные 
                    тренировки и для повышения выносливости.</p>
                <p>Для начала полноценных занятий необходимо тщательно изучить технику скандинавской ходьбы. Осваивать технику ходьбы с палками лучше не по 
                    роликам в интернете, а с сертифицированным инструктором, который владеет методикой обучения ходьбе, сразу видит ошибки и знает, как их 
                    исправить. Лучше с самого начала научиться правильной технике, чем исправлять впоследствии неправильную. Только используя правильную технику 
                    ходьбы с палками, ваше тело получит равномерную нагрузку, а вы — всю пользу от скандинавской ходьбы.</p>
                <p>Как невозможно представить себе фигуриста без коньков, так же невозможно вообразить скандинавского ходока без специальных палок — они являются 
                    важнейшим элементом занятий. Палки должны быть именно для скандинавской ходьбы (палки для беговых лыж хоть и являются прародителями 
                    «скандинавских» палок, но для ходьбы не подходят). Палки для ходьбы значительно короче лыжных и, в отличие от лыжных, они могут быть как 
                    цельными, так и телескопическими.</p>
                <p>Что касается экипировки, то здесь все зависит от вкуса и пожеланий занимающегося. По большому счету, специальная одежда для занятий не 
                    требуется, однако обувь все-таки лучше выбирать спортивную.</p>
                <img src="{% static 'other/img/hotba.jpg' %}" height="500" и width="700" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
    </div>
    
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Гайд по пилатесу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Пилатес – это комплекс физических упражнений, направленный на укрепление мышечного корсета, развитие гибкости, улучшение координации движений,
                    исправление осанки. Тренировка выполняется в спокойном темпе, не провоцируя перенапряжения и учащенного сердцебиения. Во время занятий пилатесом 
                    задействованы мышцы и разум, под контролем которого выполняются движения. Большое внимание здесь уделяется контролю дыхания и мышцам пресса. 
                    Количество подходов не имеет значения, главное – качество и соблюдение техники.</p>
                <p>Чтобы включить пилатес в свою жизнь, нужно лишь следоватьвать нескольким простым правилам:</p>
                <p>* Регулярность. Оптимальная частота – 2-3 раза в неделю. Продолжительность каждой сессии составляет 60 минут. Перерывы необходимы для восстановления 
                    организма;</p>
                <p>* Не стремитесь поставить рекорд, выполняя большее количество подходов. Главное – правильное выполнение упражнения;</p>
                <p>* Следите за своим физическим самочувствием. Одышка, боли и другой дискомфорт не допустимы.</p>
                <p>* Не пренебрегайте философией тренировки. Занимаясь, концентрируйте внимание на тренируемой группе мышц. Это повышает осознанность, 
                    позволяет быть в состоянии “здесь и сейчас”, тренирует внимание;</p>
                <p>* Не занимайтесь на полный желудок. Прием пищи должен быть не ранее чем за 2 часа до и после сессии.</p>
                <p>Планируя заняться такой гимнастикой, озадачьтесь подбором подходящего комплекта одежды. Согласно философии пилатеса, используются элементы 
                    гардероба из натуральных тканей. Хорош облегающий, но свободный крой вещей. Выбирайте одежду из дышащих материалов, которая не врезается в тело 
                    и не сковывает движений при выполнении упражнений на гибкость.</p>
                <p>В ходе занятий снимайте обувь. Они проходят в носках. Выбирайте изделия для ног с прорезиненной подошвой.</p>
                <p>Также вам понадобится коврик. Его можно купить в любом спортивном магазине!</p>
                <img src="{% static 'other/img/pilates.jpg' %}" height="500" и width="700" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
