{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
	<div class="py-5">
		<h2>Форма обратной связи</h2>
	</div>
</div>

<div>
<div class="col-12">
	<label for="username" class="form-label">Никнейм</label>
	<div class="input-group has-validation">
		<span class="input-group-text">@</span>
		<input type="text" class="form-control" id="username" placeholder="Username" required>
		<div class="invalid-feedback">
			Требуется ваше имя пользователя
		</div>
	</div>
</div>
<div class="mb-3">
	<label for="exampleFormControlInput1" class="form-label">Электроная почта:</label>
	<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Вопрос или предложение:</label>
	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>

{% endblock %}